@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Ubah URL foto sesuai dengan lokasi foto */
    background-image: url('./images/panggung.png');
    /* background-image: url('./images/StageTengah_Kosong.png'); */
    background-size: 100% 100%;
    background-position: center;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

@media only screen and (min-width: 1024px) {
    /* .player-wrapper{
        width: 435px;
        height: 280px;
        position: absolute;
        top: 29.5%;
        left: 8.5%;
        transform: scaleX(1.238) scaleY(1.938);
    }
    
    #lumio-stream-player{
        height: 100%;
        border-radius: 16px;
    }
    
    #box{
        height: 200px;
        width: 250px;
        position: relative;
        top: 30%;
        left: 64.5%;
        transform: scaleX(1.238) scaleY(1.938);
    }
    
    #text{
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #285A2C;
        text-transform: uppercase;
    } */

    .player-wrapper{
        width: 720px;
        height: 230px;
        position: absolute;
        top: 25%;
        left: 14%;
        transform: scaleX(1.238) scaleY(1.938);
    }
    
    #lumio-stream-player{
        height: 100%;
        border-radius: 16px;
    }
    
    #box{
        height: 40px;
        width: 460px;
        position: relative;
        top: 84%;
        left: 11.25%;
        transform: scaleX(1.238) scaleY(1.938);
    }
    
    #text{
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #285A2C;
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 1408px) {
    /* .player-wrapper{
        width: 583px;
        height: 390px;
        position: absolute;
        top: 28%;
        left: 8.25%;
        transform: scaleX(1.238) scaleY(1.938);
    }
    
    #lumio-stream-player{
        height: 100%;
        border-radius: 16px;
    }
    
    #box{
        height: 300px;
        width: 350px;
        position: relative;
        top: 30%;
        left: 64.5%;
        transform: scaleX(1.238) scaleY(1.938);
    }
    
    #text{
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #285A2C;
        text-transform: uppercase;
    } */

    .player-wrapper{
        width: 980px;
        height: 320px;
        position: absolute;
        top: 25%;
        /* bottom: 40%; */
        left: 14%;
        /* right: 30%; */
        /* margin: auto; */
        transform: scaleX(1.238) scaleY(1.938);
        /* width: 542px;
        height: 372px;
        position: absolute;
        top: auto;
        bottom: 50%;
        left: 50%;
        right: auto;
        transform: scaleX(1.238);
        transform: scaleY(1.938); */
    }
    
    #lumio-stream-player{
        /* width: 350px; */
        height: 100%;
        border-radius: 16px;
    }
    
    #box{
        height: 56px;
        width: 650px;
        position: relative;
        top: 84%;
        /* bottom: 139px; */
        /* right: 30%; */
        left: 11%;
        transform: scaleX(1.238) scaleY(1.938);
        /* height: 234px;
        width: 342px;
        position: relative;
        top: 77px;
        bottom: 139px;
        right: 77px;
        left: 1200px; */
        /* transform: scaleX(1.238);
        transform: scaleY(1.938); */
    }
    
    #text{
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #285A2C;
        text-transform: uppercase;
    }
}
